USE [master]
GO

IF DB_ID('LanguageCenterDB') IS NOT NULL
BEGIN
    ALTER DATABASE [LanguageCenterDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [LanguageCenterDB];
END
GO

CREATE DATABASE [LanguageCenterDB]
GO

USE [LanguageCenterDB]
GO

/****** Object:  Table [dbo].[Assessment]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[AssessmentID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[AssessmentName] [nvarchar](50) NOT NULL,
	[Weight] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NULL,
	[EnrollmentID] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[CourseID] [int] NULL,
	[TeacherID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultation]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultation](
	[ConsultationID] [int] IDENTITY(1,1) NOT NULL,
	[LeadID] [int] NULL,
	[SaleID] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[ConsultDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TotalSlots] [int] NOT NULL,
	[TuitionFee] [decimal](18, 2) NOT NULL,
	[Status] [bit] NULL,
	[image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[HireDate] [date] NULL,
	[Education] [nvarchar](255) NULL,
	[Experience] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ClassID] [int] NULL,
	[EnrollDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[FinalGrade] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[SentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentID] [int] NULL,
	[AssessmentID] [int] NULL,
	[Score] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lead]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lead](
	[LeadID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[InterestedCourseID] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentID] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[EvidenceImage] [varchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[VoucherID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[ManageUser] [bit] NOT NULL,
	[ManageCourse] [bit] NOT NULL,
	[ManageFinance] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[Capacity] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NULL,
	[RoomID] [int] NULL,
	[LearningDate] [date] NOT NULL,
	[TeacherID] [int] NULL,
	[AttendanceStatus] [bit] NULL,
	[SlotID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] NOT NULL,
	[EnrollmentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus](
	[SyllabusID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[TopicName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SyllabusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLog]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ActorName] [nvarchar](100) NULL,
	[ActionType] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[LogDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSetting]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSetting](
	[SettingKey] [varchar](50) NOT NULL,
	[SettingValue] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[SettingGroup] [varchar](50) NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [bit] NULL,
	[Dob] [date] NULL,
	[Avatar] [varchar](255) NULL,
	[Status] [bit] NULL,
	[RoleID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[IsLocked] [bit] NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 3/16/2026 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[DiscountPercent] [float] NULL,
	[ValidUntil] [date] NULL,
	[Status] [bit] NULL,
	[MaxUsage] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assessment] ON 

INSERT [dbo].[Assessment] ([AssessmentID], [CourseID], [AssessmentName], [Weight]) VALUES (1, 1, N'Participation', 10)
INSERT [dbo].[Assessment] ([AssessmentID], [CourseID], [AssessmentName], [Weight]) VALUES (2, 1, N'Mid-term Exam', 30)
INSERT [dbo].[Assessment] ([AssessmentID], [CourseID], [AssessmentName], [Weight]) VALUES (3, 1, N'Final Exam', 60)
SET IDENTITY_INSERT [dbo].[Assessment] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceID], [ScheduleID], [EnrollmentID], [Status], [Note]) VALUES (1, 23, 199, N'Present', NULL)
INSERT [dbo].[Attendance] ([AttendanceID], [ScheduleID], [EnrollmentID], [Status], [Note]) VALUES (2, 23, 219, N'Present', NULL)
INSERT [dbo].[Attendance] ([AttendanceID], [ScheduleID], [EnrollmentID], [Status], [Note]) VALUES (3, 23, 239, N'Present', NULL)
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassID], [ClassName], [CourseID], [TeacherID], [StartDate], [EndDate], [Status]) VALUES (1, N'GE-A1-M01', 1, 21, CAST(N'2026-04-01' AS Date), CAST(N'2026-06-30' AS Date), N'Pending')
INSERT [dbo].[Class] ([ClassID], [ClassName], [CourseID], [TeacherID], [StartDate], [EndDate], [Status]) VALUES (2, N'GE-A1-E01', 1, 22, CAST(N'2026-04-01' AS Date), CAST(N'2026-06-30' AS Date), N'Active')
INSERT [dbo].[Class] ([ClassID], [ClassName], [CourseID], [TeacherID], [StartDate], [EndDate], [Status]) VALUES (3, N'GE-A2-M01', 2, 23, CAST(N'2026-04-05' AS Date), CAST(N'2026-07-05' AS Date), N'Pending')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultation] ON 

INSERT [dbo].[Consultation] ([ConsultationID], [LeadID], [SaleID], [Note], [ConsultDate]) VALUES (1, 16, 17, N'Initial call. Customer wants to improve speaking skills. Sent brochure and fee structure via email.', CAST(N'2026-03-07T08:25:21.450' AS DateTime))
INSERT [dbo].[Consultation] ([ConsultationID], [LeadID], [SaleID], [Note], [ConsultDate]) VALUES (2, 17, 18, N'Initial call. Customer wants to improve speaking skills. Sent brochure and fee structure via email.', CAST(N'2026-03-06T08:25:21.450' AS DateTime))
INSERT [dbo].[Consultation] ([ConsultationID], [LeadID], [SaleID], [Note], [ConsultDate]) VALUES (3, 18, 19, N'Initial call. Customer wants to improve speaking skills. Sent brochure and fee structure via email.', CAST(N'2026-03-05T08:25:21.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[Consultation] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [CourseName], [Description], [TotalSlots], [TuitionFee], [Status], [image]) VALUES (1, N'General English Beginner (A1)', N'Basic English course for beginners focusing on simple vocabulary, grammar, and everyday communication.', 25, CAST(3000000.00 AS Decimal(18, 2)), 1, N'english-a1.png')
INSERT [dbo].[Course] ([CourseID], [CourseName], [Description], [TotalSlots], [TuitionFee], [Status], [image]) VALUES (2, N'General English Elementary (A2)', N'Build a solid English foundation with essential grammar, listening, and speaking skills.', 25, CAST(3200000.00 AS Decimal(18, 2)), 1, N'english-a2.png')
INSERT [dbo].[Course] ([CourseID], [CourseName], [Description], [TotalSlots], [TuitionFee], [Status], [image]) VALUES (3, N'General English Pre-Intermediate (B1)', N'Improve communication skills and confidence in everyday conversations.', 24, CAST(3500000.00 AS Decimal(18, 2)), 1, N'english-b1.png')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
INSERT [dbo].[Employee] ([EmployeeID], [HireDate], [Education], [Experience]) VALUES (1, CAST(N'2020-01-15' AS Date), N'Master of Business Administration (MBA)', N'7 years in Educational Management')
INSERT [dbo].[Employee] ([EmployeeID], [HireDate], [Education], [Experience]) VALUES (2, CAST(N'2021-03-10' AS Date), N'Bachelor of Information Technology', N'5 years in System Administration')
INSERT [dbo].[Employee] ([EmployeeID], [HireDate], [Education], [Experience]) VALUES (3, CAST(N'2019-11-20' AS Date), N'Master of Management', N'8 years in Operations Management')
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [ClassID], [EnrollDate], [Status], [FinalGrade]) VALUES (42, 51, 12, CAST(N'2026-01-24T08:09:01.557' AS DateTime), N'Rejected', NULL)
INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [ClassID], [EnrollDate], [Status], [FinalGrade]) VALUES (43, 52, 13, CAST(N'2026-01-23T08:09:01.557' AS DateTime), N'Active', NULL)
INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [ClassID], [EnrollDate], [Status], [FinalGrade]) VALUES (44, 53, 14, CAST(N'2026-01-22T08:09:01.557' AS DateTime), N'Active', NULL)
GO
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [EnrollmentID], [Rating], [Comment], [SentDate]) VALUES (1, 44, 4, N'Khóa học rất tốt, mình đã đạt được target IELTS. Tuy nhiên bài tập về nhà hơi nhiều nên hơi đuối.', CAST(N'2026-03-02T14:38:57.737' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [EnrollmentID], [Rating], [Comment], [SentDate]) VALUES (2, 46, 4, N'Giáo trình hay, bám sát thực tế. Các buổi học speaking hoạt động nhóm rất vui và năng động.', CAST(N'2026-03-15T14:38:57.737' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [EnrollmentID], [Rating], [Comment], [SentDate]) VALUES (3, 48, 3, N'Khóa học khá ổn, nhưng đôi khi tốc độ giảng bài hơi nhanh so với những bạn mất gốc như mình.', CAST(N'2026-03-13T14:38:57.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Grade] ON 

INSERT [dbo].[Grade] ([GradeID], [EnrollmentID], [AssessmentID], [Score]) VALUES (1, 43, 16, 9.3)
INSERT [dbo].[Grade] ([GradeID], [EnrollmentID], [AssessmentID], [Score]) VALUES (2, 43, 17, 5.5)
INSERT [dbo].[Grade] ([GradeID], [EnrollmentID], [AssessmentID], [Score]) VALUES (3, 43, 18, 6.3)
GO
SET IDENTITY_INSERT [dbo].[Grade] OFF
GO
SET IDENTITY_INSERT [dbo].[Lead] ON 

INSERT [dbo].[Lead] ([LeadID], [FullName], [Email], [Phone], [InterestedCourseID], [Status], [CreateDate]) VALUES (1, N'Alice Johnson', N'alice.johnson@gmail.com', N'0906000001', 1, N'New', CAST(N'2026-03-15T08:25:21.450' AS DateTime))
INSERT [dbo].[Lead] ([LeadID], [FullName], [Email], [Phone], [InterestedCourseID], [Status], [CreateDate]) VALUES (2, N'Bob Smith', N'bob.smith@gmail.com', N'0906000002', 5, N'New', CAST(N'2026-03-15T08:25:21.450' AS DateTime))
INSERT [dbo].[Lead] ([LeadID], [FullName], [Email], [Phone], [InterestedCourseID], [Status], [CreateDate]) VALUES (3, N'Charlie Brown', N'charlie.brown@gmail.com', N'0906000003', 7, N'New', CAST(N'2026-03-14T08:25:21.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lead] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [EnrollmentID], [Amount], [PaymentDate], [PaymentMethod], [EvidenceImage], [Status], [VoucherID]) VALUES (2, 42, CAST(3200000.00 AS Decimal(18, 2)), CAST(N'2026-01-26T03:09:01.557' AS DateTime), N'Credit Card', N'proof_transfer_42.jpg', N'Rejected', NULL)
INSERT [dbo].[Payment] ([PaymentID], [EnrollmentID], [Amount], [PaymentDate], [PaymentMethod], [EvidenceImage], [Status], [VoucherID]) VALUES (3, 43, CAST(4800000.00 AS Decimal(18, 2)), CAST(N'2026-01-25T04:09:01.557' AS DateTime), N'Bank Transfer', N'proof_transfer_43.jpg', N'Approved', NULL)
INSERT [dbo].[Payment] ([PaymentID], [EnrollmentID], [Amount], [PaymentDate], [PaymentMethod], [EvidenceImage], [Status], [VoucherID]) VALUES (4, 44, CAST(4800000.00 AS Decimal(18, 2)), CAST(N'2026-01-24T05:09:01.557' AS DateTime), N'Cash', NULL, N'Approved', NULL)
GO
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [ManageUser], [ManageCourse], [ManageFinance]) VALUES (1, N'Admin', 1, 1, 0)
INSERT [dbo].[Role] ([RoleID], [RoleName], [ManageUser], [ManageCourse], [ManageFinance]) VALUES (2, N'Academic Staff', 0, 0, 0)
INSERT [dbo].[Role] ([RoleID], [RoleName], [ManageUser], [ManageCourse], [ManageFinance]) VALUES (3, N'Sale Staff', 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [RoomName], [Capacity], [Type], [Status]) VALUES (1, N'Room 101', 20, N'Standard', 1)
INSERT [dbo].[Room] ([RoomID], [RoomName], [Capacity], [Type], [Status]) VALUES (2, N'Room 102', 20, N'Standard', 1)
INSERT [dbo].[Room] ([RoomID], [RoomName], [Capacity], [Type], [Status]) VALUES (3, N'Room 103', 25, N'Standard', 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([ScheduleID], [ClassID], [RoomID], [LearningDate], [TeacherID], [AttendanceStatus], [SlotID]) VALUES (11, 1, 2, CAST(N'2026-02-01' AS Date), 21, 1, 2)
INSERT [dbo].[Schedule] ([ScheduleID], [ClassID], [RoomID], [LearningDate], [TeacherID], [AttendanceStatus], [SlotID]) VALUES (12, 1, 2, CAST(N'2026-02-03' AS Date), 21, 1, 2)
INSERT [dbo].[Schedule] ([ScheduleID], [ClassID], [RoomID], [LearningDate], [TeacherID], [AttendanceStatus], [SlotID]) VALUES (13, 1, 2, CAST(N'2026-02-05' AS Date), 21, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([SlotID], [StartTime], [EndTime]) VALUES (1, CAST(N'07:30:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[Slot] ([SlotID], [StartTime], [EndTime]) VALUES (2, CAST(N'09:15:00' AS Time), CAST(N'10:45:00' AS Time))
INSERT [dbo].[Slot] ([SlotID], [StartTime], [EndTime]) VALUES (3, CAST(N'13:30:00' AS Time), CAST(N'15:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
INSERT [dbo].[Student] ([StudentID], [EnrollmentDate]) VALUES (51, CAST(N'2026-01-24' AS Date))
INSERT [dbo].[Student] ([StudentID], [EnrollmentDate]) VALUES (52, CAST(N'2026-01-23' AS Date))
INSERT [dbo].[Student] ([StudentID], [EnrollmentDate]) VALUES (53, CAST(N'2026-01-22' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Syllabus] ON 

INSERT [dbo].[Syllabus] ([SyllabusID], [CourseID], [OrderIndex], [TopicName], [Description]) VALUES (1, 1, 1, N'Greetings and Personal Information', N'Learn how to greet others, introduce yourself, and share basic personal information.')
INSERT [dbo].[Syllabus] ([SyllabusID], [CourseID], [OrderIndex], [TopicName], [Description]) VALUES (2, 1, 2, N'Basic Vocabulary for Daily Life', N'Build vocabulary related to family, school, food, numbers, and common objects.')
INSERT [dbo].[Syllabus] ([SyllabusID], [CourseID], [OrderIndex], [TopicName], [Description]) VALUES (3, 1, 3, N'Simple Grammar for Communication', N'Practice be verb, simple present tense, and basic sentence formation.')
SET IDENTITY_INSERT [dbo].[Syllabus] OFF
GO
INSERT [dbo].[SystemSetting] ([SettingKey], [SettingValue], [Description], [SettingGroup], [LastUpdated]) VALUES (N'DEFAULT_PASSING_GRADE', N'5.0', N'Minimum grade required to pass a course', N'Academic', CAST(N'2026-02-28T21:26:32.840' AS DateTime))
INSERT [dbo].[SystemSetting] ([SettingKey], [SettingValue], [Description], [SettingGroup], [LastUpdated]) VALUES (N'MAX_ABSENCE_PERCENTAGE', N'20', N'Maximum allowed absence percentage (%)', N'Academic', CAST(N'2026-02-28T21:26:32.840' AS DateTime))
INSERT [dbo].[SystemSetting] ([SettingKey], [SettingValue], [Description], [SettingGroup], [LastUpdated]) VALUES (N'MAX_LOGIN_ATTEMPTS', N'3', N'Max failed login attempts before account lock', N'Security', CAST(N'2026-02-28T21:26:32.840' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (1, N'James Smith', N'james.smith@lcms.edu', N'e10adc3949ba59abbe56e057f20f883e', N'0901000001', N'101 Admin Blvd, NY', 1, CAST(N'1980-05-15' AS Date), N'default.png', 1, 1, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (2, N'Mary Johnson', N'mary.johnson@lcms.edu', N'e10adc3949ba59abbe56e057f20f883e', N'0901000002', N'102 Admin Blvd, NY', 0, CAST(N'1982-08-20' AS Date), N'default.png', 1, 1, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (3, N'Robert Williams', N'robert.williams@lcms.edu', N'e10adc3949ba59abbe56e057f20f883e', N'0901000003', N'103 Admin Blvd, NY', 1, CAST(N'1979-11-30' AS Date), N'default.png', 1, 1, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountAmount], [DiscountPercent], [ValidUntil], [Status], [MaxUsage]) VALUES (1, N'WELCOME26', NULL, 10, CAST(N'2026-12-31' AS Date), 1, 500)
INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountAmount], [DiscountPercent], [ValidUntil], [Status], [MaxUsage]) VALUES (2, N'FLASH20', NULL, 20, CAST(N'2026-06-30' AS Date), 1, 20)
INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountAmount], [DiscountPercent], [ValidUntil], [Status], [MaxUsage]) VALUES (3, N'ALUMNI5', NULL, 5, CAST(N'2026-12-31' AS Date), 1, 200)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Class__F8BF561B8869BEEB]    Script Date: 3/16/2026 3:10:50 PM ******/
ALTER TABLE [dbo].[Class] ADD UNIQUE NONCLUSTERED 
(
	[ClassName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B6160253712F9]    Script Date: 3/16/2026 3:10:50 PM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105349B6D9D11]    Script Date: 3/16/2026 3:10:50 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__A25C5AA7F37DA68D]    Script Date: 3/16/2026, [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (74, N'Pamela Kelly', N'pamela.kelly@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000024', N'524 Student Dorm, FL', 0, CAST(N'1999-12-03' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (75, N'Justin Howard', N'justin.howard@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000025', N'525 Student Dorm, FL', 1, CAST(N'2000-01-08' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (76, N'Nicole Ramos', N'nicole.ramos@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000026', N'526 Student Dorm, FL', 0, CAST(N'2001-02-13' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (77, N'Scott Kim', N'scott.kim@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000027', N'527 Student Dorm, FL', 1, CAST(N'2002-03-18' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (78, N'Emma Cox', N'emma.cox@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000028', N'528 Student Dorm, FL', 0, CAST(N'1999-04-23' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (79, N'Brandon Ward', N'brandon.ward@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000029', N'529 Student Dorm, FL', 1, CAST(N'2000-05-28' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (80, N'Samantha Richardson', N'samantha.richardson@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000030', N'530 Student Dorm, FL', 0, CAST(N'2001-06-02' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (81, N'Benjamin Watson', N'benjamin.watson@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000031', N'531 Student Dorm, FL', 1, CAST(N'2002-07-07' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (82, N'Katherine Brooks', N'katherine.brooks@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000032', N'532 Student Dorm, FL', 0, CAST(N'1999-08-12' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (83, N'Samuel Chavez', N'samuel.chavez@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000033', N'533 Student Dorm, FL', 1, CAST(N'2000-09-17' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (84, N'Christine Wood', N'christine.wood@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000034', N'534 Student Dorm, FL', 0, CAST(N'2001-10-22' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (85, N'Gregory James', N'gregory.james@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000035', N'535 Student Dorm, FL', 1, CAST(N'2002-11-27' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (86, N'Debra Bennett', N'debra.bennett@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000036', N'536 Student Dorm, FL', 0, CAST(N'1999-12-02' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (87, N'Frank Gray', N'frank.gray@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000037', N'537 Student Dorm, FL', 1, CAST(N'2000-01-07' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (88, N'Rachel Mendoza', N'rachel.mendoza@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000038', N'538 Student Dorm, FL', 0, CAST(N'2001-02-12' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (89, N'Raymond Ruiz', N'raymond.ruiz@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000039', N'539 Student Dorm, FL', 1, CAST(N'2002-03-17' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (90, N'Carolyn Hughes', N'carolyn.hughes@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000040', N'540 Student Dorm, FL', 0, CAST(N'1999-04-22' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (91, N'Patrick Price', N'patrick.price@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000041', N'541 Student Dorm, FL', 1, CAST(N'2000-05-27' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (92, N'Janet Alvarez', N'janet.alvarez@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000042', N'542 Student Dorm, FL', 0, CAST(N'2001-06-01' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (93, N'Alexander Castillo', N'alexander.castillo@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000043', N'543 Student Dorm, FL', 1, CAST(N'2002-07-06' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (94, N'Catherine Sanders', N'catherine.sanders@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000044', N'544 Student Dorm, FL', 0, CAST(N'1999-08-11' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (95, N'Jack Patel', N'jack.patel@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000045', N'545 Student Dorm, FL', 1, CAST(N'2000-09-16' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (96, N'Maria Myers', N'maria.myers@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000046', N'546 Student Dorm, FL', 0, CAST(N'2001-10-21' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (97, N'Dennis Long', N'dennis.long@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000047', N'547 Student Dorm, FL', 1, CAST(N'2002-11-26' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (98, N'Heather Ross', N'heather.ross@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000048', N'548 Student Dorm, FL', 0, CAST(N'1999-12-01' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [Gender], [Dob], [Avatar], [Status], [RoleID], [CreatedAt], [IsLocked], [FailedLoginAttempts]) VALUES (99, N'Jerry Foster', N'jerry.foster@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0905000049', N'549 Student Dorm, FL', 1, CAST(N'2000-01-06' AS Date), N'default.png', 1, 5, CAST(N'2026-03-16T07:57:39.760' AS DateTime), 0, 0)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Class__F8BF561B395B0F9B]    Script Date: 3/16/2026 2:40:52 PM ******/
ALTER TABLE [dbo].[Class] ADD UNIQUE NONCLUSTERED 
(
	[ClassName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B6160CD8D201F]    Script Date: 3/16/2026 2:40:52 PM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534F4C2E049]    Script Date: 3/16/2026 2:40:52 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__A25C5AA7B62BE770]    Script Date: 3/16/2026 2:40:52 PM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Consultation] ADD  DEFAULT (getdate()) FOR [ConsultDate]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (getdate()) FOR [EnrollDate]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Lead] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Lead] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((0)) FOR [ManageUser]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((0)) FOR [ManageCourse]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((0)) FOR [ManageFinance]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT ((0)) FOR [AttendanceStatus]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[SystemLog] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[SystemSetting] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [MaxUsage]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Enrollment] ([EnrollmentID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Consultation]  WITH CHECK ADD FOREIGN KEY([LeadID])
REFERENCES [dbo].[Lead] ([LeadID])
GO
ALTER TABLE [dbo].[Consultation]  WITH CHECK ADD FOREIGN KEY([SaleID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Enrollment] ([EnrollmentID])
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD FOREIGN KEY([AssessmentID])
REFERENCES [dbo].[Assessment] ([AssessmentID])
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Enrollment] ([EnrollmentID])
GO
ALTER TABLE [dbo].[Lead]  WITH CHECK ADD FOREIGN KEY([InterestedCourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Enrollment] ([EnrollmentID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slot] ([SlotID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus]  WITH CHECK ADD  CONSTRAINT [FK_Syllabus_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Syllabus] CHECK CONSTRAINT [FK_Syllabus_Course]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD CHECK  (([Score]>=(0) AND [Score]<=(10)))
GO
USE [master]
GO
