@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #f1f4f6;
    --nav-color: #ffffff;
    --text-color: #091622;
    --side-nav: #010718;
    --search-nav: #F1F5F9;
    --search-text: #eff1f4;
    --sidebar: #ffffff;
    --sidebar-text: #162140;
    --divider: rgba(0, 0, 0, 0.1);
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #020617;
    --nav-color: #0F172A;
    --text-color: #ded6d6;
    --side-nav: #010718;
    --search-nav: #1E293B;
    --search-text: rgba(45, 74, 101, 0.832);
    --sidebar: rgb(19, 39, 57);
    --sidebar-text: white;
    --divider: rgba(117, 144, 187, 0.197);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--divider);
    background-color: var(--nav-color);
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.custom-navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 88px;
    transition: all 0.3s ease;
}

nav.active .navbar-left{
    margin-left: 260px;
}

.sidebarOpen{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebarOpen i{
    font-size: 24px;
    color: var(--sidebar-text);
    font-weight: 500;
}

.sidebarOpen:hover{
    background-color: rgba(145, 180, 202, 0.188);
}

.search-field{
    position: relative;
    width: 350px;
    height: 40px;
    background-color: var(--search-nav);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-field input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: var(--text-color);
}

.search-field i{
    font-size: 20px;
    margin-left: 15px;
    color: #707070;
}

.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    gap: 10px;
}

.profile-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 8px;
    padding: 6px;
    transition: all 0.3s ease;
}

.profile-item:hover{
    background-color: var(--body-color);
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1f70aa;
    color: white;
    display: flex;
    font-size: 17px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.profile-text{
    display: flex;
    flex-direction: column;
}

.profile-text .name{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
}

.profile-text .email{
    font-size: 12px;
    color: var(--text-color);
    opacity: 0.7;
}

.profile-dropdown{
    position: absolute;
    top: 70px;
    right: 0;
    width: 220px;
    border-radius: 8px;
    background-color: var(--nav-color);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.05);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 2000;
    padding: 10px;
    margin: 0;
    list-style: none !important;
}

.profile-item.active .profile-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown-header{
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.dropdown-header .name{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}

.dropdown-header .email{
    font-size: 12px;
    opacity: 0.7;
    color: var(--text-color);
}

.profile-options-list {
    padding-left: 0;
    margin: 0;
}

.profile-options-list li {
    list-style: none;
}

.profile-options-list li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 6px;
    color: var(--text-color);
    font-size: 14px;
    transition: all 0.3s ease;
}

.profile-options-list li a:hover {
    background-color: var(--body-color);
}

.profile-options-list li a i {
    font-size: 18px;
}

.profile-options-list li .logout {
    color: rgb(211, 45, 45);
}

.divider{
    height: 1px;
    background-color: var(--divider);
    margin: 5px 5px;
}

.darkMode{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkMode i{
    position: absolute;
    font-size: 22px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.darkMode i.moon{
    opacity: 0;
    pointer-events: none;
}

.darkMode.active i.moon{
    opacity: 1;
    pointer-events: auto;
}

.darkMode.active i.sun{
    opacity: 0;
    pointer-events: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    border-right: 1px solid var(--divider);
    background-color: var(--nav-color);
    z-index: 2000;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.sidebar.close{
    width: 78px;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
    padding: 10px 14px;
    border-bottom: 1px solid var(--divider);
}

.sidebar-header{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--sidebar-text);
}

.sidebar.close .logo-text{
    opacity: 0;
    pointer-events: none;
}

.logo-header{
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header img{
    width: 50px;
}

.logo-text{
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: var(--sidebar-text);
    white-space: nowrap;
}

.profession {
    font-size: 13px;
    margin-top: -2px;
    color: var(--text-color);
    opacity: 0.7;
    white-space: nowrap;
    display: block;
    font-weight: 400;
}

.menu-bar{
    margin-top: 10px;
}

.sidebar li{
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 10px;
}

.sidebar li a{
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px ;
    gap: 10px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.sidebar li a .icon,
.sidebar li a i {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar li a:hover{
    background-color: var(--body-color);
    color: rgb(54, 121, 193);
}

.home-section {
    position: relative;
    background: var(--body-color);
    min-height: 100vh;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    transition: all 0.5s ease;
    z-index: 1;
}

.sidebar.open ~ .home-section {
    left: 78px;
    width: calc(100% - 250px);
}

.sidebar ul, .menu-links {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}

.search-field input {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    height: 100% !important;
}

nav {
    z-index: 1050 !important;
}
.sidebar {
    z-index: 1060 !important;
}

