@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #F9FCFE;;
    --nav-color: #ffffff;
    --text-color: #091622;
    --side-nav: #010718;
    --search-nav: #F1F5F9;
    --search-text: #eff1f4;
    --sidebar: #ffffff;
    --sidebar-text: #162140;
    --divider: rgba(0, 0, 0, 0.1);
}

body{
    min-height: 100vh;
    background-color: var(--nav-color);
}

.main-content {
    margin-top: 70px; 
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--divider);
    background-color: var(--nav-color);
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%; 
    max-width: 1400px; 
}

.nav-left{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--sidebar-text);
}

.logo-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header img{
    width: 50px;
}

.logo-text{
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: var(--sidebar-text);
    white-space: nowrap; 
}

.profession {
    font-size: 13px;     
    margin-top: -2px;   
    color: var(--text-color);
    opacity: 0.7;
    white-space: nowrap;
    display: block;
    font-weight: 400;
}

.search-field{
    position: relative;
    width: 400px;
    height: 40px;
    background-color: var(--search-nav);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.search-field input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    color: var(--text-color);
}

.search-field i{
    font-size: 20px;
    margin-left: 15px;
    color: #707070;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-btn a{
    background-color: transparent;
    border: 1px solid #0056D2;
    padding: 7px 22px;
    border-radius: 10px;
    color: #0056D2;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
}

.login-btn a:hover{
    background-color: #0056D2;
    color: white;
}

.contact-btn a{
    margin-top: -2px;
    background-color: #ffc228;
    padding: 8px 13px;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
}

.nav-right .contact-btn a:hover{
    background-color: transparent;
    border: 1px solid #ffc228;
    color: #ffc228;
}

.carousel-item img{
    height: 550px;
}

.consultation-content{
    margin-top: 50px;
}

.consultation-content h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.feature-list{
    font-size: 17px;
}

.join-free-btn{
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 500;
    background-color: #ffc228;
    border: none;
    transition: all 0.3s ease;
}

.join-free-btn:hover{
    background-color: #ffb700;
    color: #ffffff;
}

.join-free-btn i{
    font-size: 18px;
}

.consultation-card{
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px rgba(0,0,0,0.05);
    padding: 30px;
    border-radius: 20px;
}

.consultation-card-header{
    text-align: center;
}

.consultation-card-header h4{
    font-size: 27px;
    font-weight: 600;
    color: rgb(27, 75, 135);
}

.consultation-card-body{
    border-radius: 12px;
    background-color: #16589e;
}

.register-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #ffc228;
    width: 100%;
    border: none;
    padding: 8px 0;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.register-btn:hover{
    background-color: #ffb700;
    color: white;
}